<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="jumbotron">
        <h1><%=t 'top.whats' %></h1>
        <p><%=t 'top.whats_desc' %></p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2><%=t 'top.nomination' %></h2>
          <p><%=t 'top.nomination_desc' %></p>
        </div>

        <div class="col-md-4">
          <h2><%=t 'top.party' %></h2>
          <p><%=raw t 'top.party_desc' %></p>
        </div>

        <div class="col-md-4">
          <h2><%=t 'top.winners' %></h2>
          <ul class="list-group">
            <li class="list-group-item"><%=raw t 'top.1st' %></li>
            <li class="list-group-item"><%=raw t 'top.0th' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23unagiaward" data-widget-id="455709477874847744">#unagiaward</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
