<div class="panel panel-default">
  <div class="panel-heading"><%=t 'nominates.title' %></div>
  <div class="panel-body">
<%= simple_form_for(@nominate, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :candidate %>
  <%= f.input :reason %>
  <div class="form-group">
    <div class="controls col-sm-offset-2 col-sm-10">
      <%= f.button :submit, class: 'btn-primary' %>
      <%= link_to t('helpers.links.cancel', default: 'Cancel'), (admin? ? nominates_path : root_path), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
  </div>
</div>
