<div class="container-fluid">
  <h1 class="page-header">Listing nominates</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Candidate</th>
        <th>Reason</th>
        <th>At (UTC)</th>
        <th>By</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @nominates.reverse_each do |nominate| %>
        <tr>
          <td class="col-sm-1"><%= nominate.candidate %></td>
          <td class="col-sm-6"><%= nominate.reason %></td>
          <td class="col-sm-2"><%= nominate.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td class="col-sm-1"><%= admin?(nominate.user) ? 'test' : link_to("@#{nominate.user.name}", "https://#{nominate.user.provider}.com/#{nominate.user.name}") %></td>
          <td class="col-sm-2"><%= link_to 'Show', nominate, class: 'btn btn-info btn-xs' %> <%= link_to 'Edit', edit_nominate_path(nominate), class: 'btn btn-warning btn-xs' %> <%= link_to 'Destroy', nominate, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to 'Make new nomination for test', new_nominate_path, class: 'btn btn-primary' %>
  </p>

  <h2><%= Rails::Info.to_s.lines.first %></h2>
  <pre>
<%= Rails::Info.to_s.lines[1..-1].join %>
  </pre>
</div>
