<div class="container-fluid">
  <h1 class="page-header">Listing nominates</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Candidate</th>
        <th>Reason</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @nominates.each do |nominate| %>
        <tr>
          <td class="col-sm-2"><%= link_to "@#{nominate.user.name}", "https://#{nominate.user.provider}.com/#{nominate.user.name}" %></td>
          <td class="col-sm-2"><%= nominate.candidate %></td>
          <td class="col-sm-6"><%= nominate.reason %></td>
          <td class="col-sm-3"><%= link_to 'Show', nominate %> | <%= link_to 'Edit', edit_nominate_path(nominate) %> | <%= link_to 'Destroy', nominate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
