<div class="container-fluid">
  <h1 class="page-header">Nomination details</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      Registered by <strong><%= @nominate.user.name %></strong> (<%= link_to "via #{@nominate.user.provider}", "https://#{@nominate.user.provider}.com/#{@nominate.user.name}" %>)
    </div>

    <table class="table">
      <tr>
        <th class="col-sm-2 text-right">Candidate</th>
        <td class="col-sm-10"><%= @nominate.candidate %></td>
      </tr>

      <tr>
        <th class="text-right">Reason</th>
        <td><%= @nominate.reason %><td>
      </tr>

      <tr>
        <th class="text-right">Updated at</th>
        <td><%= @nominate.updated_at %><td>
      </tr>

      <tr>
        <th class="text-right">Created at</th>
        <td><%= @nominate.created_at %><td>
      </tr>
    </table>
  </div>

  <%= link_to 'Edit', edit_nominate_path(@nominate), class: 'btn btn-warning' %>
  <%= link_to 'Back', nominates_path, class: 'btn btn-default' %>
</div>
